@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo|Source+Sans+Pro');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  min-width: 1160px;
}